body {
    font-family: 'Poppins', sans-serif; 
    background-color: #F5F5F5;
}

.nav-base {
    background-color: #7C82FF;
    padding: 0.5em 2em;
}

.nav-link {
    color: white;
}

.nav-link:hover{
    color: #121445;
}