body {
    font-family: 'Poppins', sans-serif; 
    background-color: #F5F5F5;
}

.nav-base {
    background-color: #7C82FF;
    padding: 0.5em 2em;
}

.nav-link {
    color: white;
}

.nav-link:hover{
    color: #121445;
}

.font-purple {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    color: #7C82FF;
}