.main-header {
    background-image: url("/static/home/images/overlay-crop-pexels-binyamin-mellish-1860771.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 2em;
    color: white;
    display: flex;
    flex-direction: column;
}

.nav-base {
    display: none;
}

.nav-home {
    justify-content: center;
    margin-bottom: 25vh;
}
.nav-item-home {
    margin: 0 1em;
}
.nav-link-home {
    color:white;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 4em;
}

.title {
    text-align: center;
}

.btn {
    font-family: 'Poppins', sans-serif; 
    margin-top: 2em;
    background-color: #7C82FF;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
}

.btn:hover{
    background-color: #121445;
    color: white;
}