section {
    background-color: white;
    height: 90vh;
}

.alert {
    width: 90%;
}

h3 {
    font-weight: 700;
}

.login-wrapper, .login-images {
    width: 50%;
}

.login-wrapper {
    margin-left: 3em;
    margin-top: 10vh;
}

.login-wrapper p {
    font-size: 0.9em;
}

label {
    margin-bottom: 0.5em;
}

.form-group{
    margin: 1em 0;
    width: 90%;
}

.submit {
    background-color: #7C82FF;
    color: white;
}

.submit:hover {
    background-color: #121445;
    color: white;
}

.login-images {
    height: 90vh;
}

.login-image {
    object-fit: cover;
    height: 90vh;
    width: 100%;
}