.profile-wrapper{
    background-color: white;
}

.header {
    background-size: cover;
}

.header img {
    object-fit: cover;
}

/* Profile Picture, Name, Professional Type, and Status */
.status-and-name {
    display: flex;
    flex-direction: row;
}

.profile-picture {
    height: 10em;
    clip-path: circle(40% at 50% 50%);
}

.profile {
    display: flex;
    margin: 2em;
}

.profile p {
    margin-bottom: 0.2em;
}

.name-type {
    margin-top: 3em;
    margin-left: 1em;
}
.name {
    margin-right: 0.5em;
    font-weight: 700;
    font-size: 1.7em;
}

.professional-type {
    font-size: 1.1em;
}

.status {
    background-color: #00C981;
    height: fit-content;
    padding: 0.3em 1.5em;
    color: white;
    align-self: center;
    font-weight: 700;
    font-size: 0.85em;
}

/* OVERVIEW */
.overview {
    margin: 2.5em;
    display: flex;
    flex-direction: column;
}

.sub-title{
    font-size: 1.2em;
    font-weight: 700;
    color: #7C82FF;
}

.projects {
    display: flex;
}

.card {
    margin-right: 1em;
    justify-content: center;
}

.card img {
    max-height: 15em;
    object-fit: cover;
}

.card-location {
    font-size: 0.9em;
    color: #7C82FF;
}

/* Request Project */
.interest {
    margin: 2em 0 0.5em;
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
}

.req-wrapper {
    align-self: center;
}

.req-project {
    background-color: #7C82FF;
    width: fit-content;
}

.req-project a{
    color:white;
    text-decoration: none;
}

.req-project:hover {
    background-color: #121445;
}

/* Background clipping */
.info-wrapper {
    background-color: #EFF5FF;
}

.clipped {
    clip-path: ellipse(100% 100% at 2% 0%);
    height: 120px;
    background-color: white;
}

/* Information */
.info-content {
    margin: 2em;
    display: flex;
    padding-bottom: 2em;
}
.about {
    width: 30%;
}

.info {
    width: 70%;
}

.about, .info {
    margin-right: 2em;
    padding: 0.3em
}

.info-title-box {
    border-bottom: 1px solid #7C82FF;
    margin-bottom: 1em;
}

.content {
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.8);
}

.label {
    width: 30%;
    color: #7C82FF;
    
}

.value {
    color: rgba(0, 0, 0, 0.8);
}