section {
    background-color: white;
    font-size: 0.9em;
}

h3 {
    font-weight: 700;
    margin-bottom: 1em;
}

.signup-wrapper, .signup-images {
    width: 50%;
}

.signup-wrapper {
    margin-left: 3em;
    margin-top: 2em;
}

.signup-wrapper p {
    font-size: 0.9em;
}

.signup-image {
    object-fit: cover;
    height: 110vh;
    width: 100%;
}
label {
    margin-bottom: 0.5em;
}

/* Form */
.btn {
    background-color: #7C82FF;
    color: white;
    margin: 1em 0;
}

.btn:hover{
    background-color: #121445;
    color:white;
}

.btn a{
    color: white;
    text-decoration: none;
}

.form-group{
    margin: 1em 1em 1em 0;
    width: 100%;
}

#professional-form {
    display: none;
}

.name {
    width: 100%;
    padding-right: 1em;
}

.email {
    width: 60%;
}

.password {
    width: 40%;
}


/* Submit */
.submit {
    background-color: #7C82FF;
    color: white;
}

.submit:hover {
    background-color: #121445;
    color: white;
}
