section {
    padding: 2em 0;
}
h4 {
    margin-left: 0.5em;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
}

a:hover {
    color: #7C82FF;
}

.dashboard-nav {
    margin: 1.5em 0 0;
    padding-left: 1em;
    display: flex;
    justify-content: center;
    
}

.dashboard-item {
    border-bottom: 1px solid white;
    margin: 0 1.5em;
    padding-bottom: 1em;
}

.dashboard-item:hover, .active-item{
    border-bottom: 1px solid #7C82FF;
}

.active-item a{
    color: #7C82FF;
}

.content-wrapper {
    background-color: #e9eef7;
    margin-top: 3em;
}

.row {
    margin-right: 2em;
    margin-left: 2em;
}


.btn {
    font-family: 'Poppins', sans-serif; 
    margin-top: 2em;
    background-color: #7C82FF;
    color: white;
    font-size: 16px;
}

.flex-shrink-0 img {
    width: 75px;
    height: 75px;
}

.font-white {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    color: white;

}

.text {
    display: block;
    height:100px;
    overflow: hidden;
    word-wrap: break-word;
}

.title {
    display: block;
    height:25px;
    overflow: hidden;
    word-wrap: break-word;
}

.card .card-img-top {
    height: 250px;
    background-size:cover;
    background-position: center center;
}

.carousel-inner .carousel-item img {
    height: 250px;
    background-size:cover;
    background-position: center center;
}

.container-card-text {
    margin-top: 1em;
}

.request {
    background-color: #7C82FF;
    justify-content: center;
    text-align: center;
}

h3 {
    font-weight: 700;
    font-size: 2em;
    color: white;
}