section {
    padding: 2em 0;
}

.request-page {
    padding-left: 30%;
    padding-right: 30%;
}

.request-form-header{
    background-color: #7C82FF;
    color: white;
    padding: 1em;
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.25);
}

h4 {
    margin-left: 0.5em;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
}

.request-form-content{
    padding: 1em;
    background: #FFFFFF;
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.25);
}

.btn-request {
    font-family: 'Poppins', sans-serif; 
    margin-top: 2em;
    background-color: #7C82FF;
    color: white;
    font-size: 16px;
}

.request {
    background-color: #7C82FF;
    justify-content: center;
    text-align: center;
}

h3 {
    font-weight: 700;
    font-size: 2em;
    color: white;
}