{% extends 'home/base.html' %}
{% load static %}

{% block title %}
<title>BUILDINGO</title>
{% endblock %}

{% block link %} 
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block base %}
<body>
<section class="main-header">
    <!-- Navbar only for home -->
    <ul class="nav nav-home">
        <li class="nav-item nav-item-home dropdown">
          <a class="nav-link nav-link-home dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Find Professional
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'find_professional:professionals' type='Architect' %}">Architect</a>
            <a class="dropdown-item" href="{% url 'find_professional:professionals' type='Contractor' %}">Contractor</a>
            <a class="dropdown-item font-purple" href="{% url 'find_professional:professionals' type='All' %}">All Professional <i class="fas fa-angle-right"></i></a> 
          </div>
        </li>
        {% if role == 'Project Owner' or role == 'Administrator' or role == 'Professional' %}
        <li class="nav-item nav-item-home">
            <a class="nav-link nav-link-home" href="{% url 'user_profile:myProfile' %}">Dashboard</a>
          </li>
        
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user_profile:signup' %}">  Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user_profile:login' %}">Log In</a>
        </li>
        {% endif %}
    </ul>
    
    <div class="title">
        <h1>BUILDINGO</h1>
        
        <h5>CONNECTING PROJECT OWNER WITH </h5>
        <h5>TRUSTED PROFESSIONAL: ARCHITECT & CONTRACTOR</h5>

        <!-- Langsung menuju Find Professional Default (All Professional) -->
        <a href="{% url 'find_professional:professionals' type='All' %}" type="button" class="btn-find-professional btn"> Find Professional</a>
    </div>
    
</section>
</body>

{% endblock %}