{% extends 'profile/dashboard.html' %}
{% load static %}

{% block title %}
<title>Create Portfolio</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'portfolio/css/portfolio.css' %}">
{% endblock %}

{% block section %}
<div class="container-portfolio">
    <div class="container" >
        <br>
        {% if error_message %}
        <div class="alert alert-danger alert-dismissible">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{error_message}}
        </div>
        {% endif %}
        <div class="card">
            <div class="card-header" style="text-align:center; background-color: #7C82FF; " >
              <h5 style="color: white; font-weight: 700; font-size: 1.7em;">Create Portfolio</h5> 
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}

                    <div class="form-group form-field" >
                      <label for="name"><b>Name</b></label>
                      <input type="text" class="form-control" name="name" maxlength="75" placeholder="Name or Title " required >
                    </div>
    
                    <div class="form-group form-field">
                        <label for="description"><b>Description</b></label>
                        <input type="text" class="form-control" name="description" placeholder="Description" required >
                    </div>

                    <div class="form-group form-field">
                      <label for="province"><b>Province</b></label>
                      <select name="province" class="form-control" required>
                          <option value="" disabled selected>Choose province</option>
                        {% for province in list_province %}
                        <option>{{province.name}}</option>
                        {% endfor %}
                      </select>
                    </div>

                    <div class="form-group form-field" >
                      <label for="city"><b>City</b></label>
                      <input type="text" class="form-control" name="city" maxlength="75" placeholder="City" required onkeydown="return /[a-z, ]/i.test(event.key)"
                      onblur="if (this.value == '') {this.value = '';}"
                      onfocus="if (this.value == '') {this.value = '';}">
                    </div>

                    <div class="form-group form-field">
                      <label for="buildingType"><b>Building Type</b></label>
                      <select name="buildingType"  class="form-control" required>
                        <option value="" disabled selected>Choose building type</option>
                        {% for type in list_building_type %}
                          <option>{{type.name}}</option>
                        {% endfor %}
                      </select>
                    </div>

                    <div class="form-group form-field">
                      <label for="buildingStyle"><b>Building Style</b></label>
                      <select name="buildingStyle" class="form-control" required>
                        <option value="" disabled selected>Choose building style</option>
                        {% for style in list_building_style %}
                          <option>{{style.name}}</option>
                        {% endfor %}
                      </select>
                    </div>
    
                    <div class="form-group form-field">
                        <label for="harga"><b>Project Cost</b></label>
                        <input type="number" name="projectCost" class="form-control" min="0" placeholder="Ex: 200000000" required>
                    </div>
    
                    <div class="form-group form-field">
                        <label for="harga"><b>Project Year</b></label>
                        <input type="number" name="projectYear" class="form-control" min="1900" placeholder="Ex: 2021" required>
                    </div>

                    <div class="form-group form-field">
                        <label for="exampleFormControlFile1"><b>Photo 1*</b></label>
                        <br>
                        <input name="photo1" type="file" class="form-control-file" id="exampleFormControlFile1" required>
                      </div>

                    <div class="form-group form-field">
                        <label for="exampleFormControlFile1"><b>Photo 2</b></label>
                        <br>
                        <input name="photo2" type="file" value ="none" class="form-control-file" id="exampleFormControlFile1">
                    </div>

                    <div class="form-group form-field">
                        <label for="exampleFormControlFile1"><b>Photo 3</b></label>
                        <br>
                        <input name="photo3" type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>

                    <div class="form-group form-field">
                        <label for="exampleFormControlFile1"><b>Photo 4</b></label>
                        <br>
                        <input name="photo4" type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
    
                    <div class="form-group form-field" style="text-align:center;">
                        <a type="submit" class="btn btn-primary" style="margin-right: 2%;" href="{% url 'portfolio:portfolio' %}" >Cancel</a>
                        <button type="submit" class="btn btn-primary" style="margin-left: 2%;">Submit</button>
                    </div>   
                </form>
            </div>
          </div>
    </div>
</div>

{% endblock %}
