{% extends 'profile/dashboard.html' %}
{% load static %}

{% block title %}
<title>Detail Portfolio</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'portfolio/css/portfolio.css' %}">
<style>
/* Style the images inside the grid */
.col img {
  opacity: 0.8; 
  cursor: pointer; 
}

.col img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container-photo {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
</style>
{% endblock %}

{% block section %}
<div class="container-portolio">
    <div class="container">
        <br>
        <a href="{% url 'portfolio:portfolio' %}" class="btn"><i class="fas fa-chevron-left"></i> Back</a>
        <br>
        <br>
        <h4 class="title-portfolio" style="text-align:left; margin-left:0;">{{portfolio.name}}</h4>
        <p class="location"><i class="fas fa-thumbtack" style="color: #7C82FF;"></i> {{portfolio.city}}, {{portfolio.province}}</p>

        <div class="row">
            <div class="col-sm-6">
                <img src={{main_photo.url}} class="img-fluid" style="max-width: 95%;"  alt="Responsive image">
            </div>
            <div class="col-sm-6">
                <p class="detail-label"><b>Description:</b></p>
                <p>{{portfolio.description}}</p>

                <p class="detail-label"><b>Building type:</b></p>
                <p>{{portfolio.building_type}}</p>

                <p class="detail-label"><b>Buiding style:</b></p>
                <p style="text-transform: lowercase;">{{portfolio.building_style}}</p>

                <p class="detail-label"><b>Project year:</b></p>
                <p>{{portfolio.project_year}}</p>

                <p class="detail-label"><b>Project cost:</b></p>
                <p>{{portfolio.project_cost}}</p>
            </div>
        </div>
        <div class="row" style="margin-bottom: 10%;">
            <br>
            <br>
            <h5>Photos:</h5>
            {% for photo in list_photo%}
            <div class="col col-sm-3">
              <img src={{photo.url}} class="img-fluid" onclick="myFunction(this);">
            </div>
            {% endfor %}
        </div>

        <div class="container container-photo">
            <!-- Close the image -->
            <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
          
            <!-- Expanded image -->
            <img id="expandedImg" style="width:100%">
          
            <!-- Image text -->
            <div id="imgtext"></div>
          </div>

    </div>
</div>

{% endblock %}

{% block script %}
<script>
function myFunction(imgs) {
  var expandImg = document.getElementById("expandedImg");
  var imgText = document.getElementById("imgtext");
  expandImg.src = imgs.src;
  imgText.innerHTML = imgs.alt;
  expandImg.parentElement.style.display = "block";
}
</script>
{% endblock %}