{% extends 'profile/dashboard.html' %}
{% load static %}

{% block title %}
<title>Edit Portfolio</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'portfolio/css/portfolio.css' %}">
{% endblock %}

{% block section %}
<div class="container-portfolio">
    <div class="container" >
        <br>
        {% if error_message %}
        <div class="alert alert-danger alert-dismissible">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{error_message}}
        </div>
        {% endif %}
        <div class="card">
            <div class="card-header" style="text-align:center; background-color: #7C82FF; " >
              <h5 style="color: white;  font-weight: 700; font-size: 1.7em;">Edit Portfolio</h5> 
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                    <div class="form-group form-field" >
                      <label for="name"><b>Name</b></label>
                      <input type="text" value ="{{name}}" class="form-control" name="name" maxlength="75" placeholder="Name or Title " required >
                    </div>
    
                    <div class="form-group form-field">
                        <label for="description"><b>Description</b></label>
                        <input type="text" value ="{{description}}" class="form-control" name="description"placeholder="Description" required >
                    </div>
                

                    <div class="form-group form-field">
                      <label for="province"><b>Province</b></label>
                      <select name="province" value ="{{province}}" class="form-control" required>
                        {% for prov in list_province %}
                          {% if prov.name == province %}
                          <option selected="selected">{{prov.name}}</option>
                          {% else %}
                          <option>{{prov.name}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>

                    <div class="form-group form-field" >
                      <label for="city"><b>City</b></label>
                      <input type="text" value ={{city}} class="form-control" name="city" maxlength="75" placeholder="City" required onkeydown="return /[a-z, ]/i.test(event.key)"
                      onblur="if (this.value == '') {this.value = '';}"
                      onfocus="if (this.value == '') {this.value = '';}">
                    </div>

                    <div class="form-group form-field">
                      <label for="buildingType"><b>Building Type</b></label>
                      <select name="buildingType" value ="{{buildingType}}" class="form-control" required>
                        {% for type in list_building_type %}
                          {% if type.name == buildingType %}
                          <option selected="selected">{{type.name}}</option>
                          {% else %}
                          <option>{{type.name}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>

                    <div class="form-group form-field">
                      <label for="buildingStyle"><b>Building Style</b></label>
                      <select name="buildingStyle" value ="{{buildingStyle}}" class="form-control" required>
                        {% for style in list_building_style %}
                          {% if style.name == buildingStyle %}
                          <option selected="selected">{{style.name}}</option>
                          {% else %}
                          <option>{{style.name}}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
    
                    <div class="form-group form-field">
                        <label for="projectCost"><b>Project Cost</b></label>
                        <input type="number" value={{projectCost}} name="projectCost" class="form-control" min="0" placeholder="Ex: 200000000" required>
                    </div>
    
                    <div class="form-group form-field">
                        <label for="projectYear"><b>Project Year</b></label>
                        <input type="number" value={{projectYear}} name="projectYear" class="form-control" min="1900" placeholder="Ex: 2021" required>
                    </div>

                    <div class="form-group form-field">
                        <label for="exampleFormControlFile1"><b>Photo 1*</b></label>
                        <br>
                        <input name="photo1" type="file"  class="form-control-file" id="exampleFormControlFile1" onchange="readURL(this);">
                        <img id="img1" src="/static/portfolio/images/{{id}}_img1.jpg" class="img-fluid" style="max-width: 200px; max-height: 150px;"/>
                      </div>

                    <div class="form-group form-field">
                        <label for="exampleFormControlFile1"><b>Photo 2</b></label>
                        <br>
                        <input name="photo2" type="file" class="form-control-file" id="exampleFormControlFile1" onchange="readURL2(this);">
                        <img id="img2" src="/static/portfolio/images/{{id}}_img2.jpg" class="img-fluid" style="max-width: 200px; max-height: 150px;"/>
                    </div>

                    <div class="form-group form-field">
                        <label for="exampleFormControlFile1"><b>Photo 3</b></label>
                        <br>
                        <input name="photo3" type="file" class="form-control-file" id="exampleFormControlFile1" onchange="readURL3(this);">
                        <img id="img3" src="/static/portfolio/images/{{id}}_img3.jpg" class="img-fluid" style="max-width: 200px; max-height: 150px;"/>
                    </div>

                    <div class="form-group form-field">
                        <label for="exampleFormControlFile1"><b>Photo 4</b></label>
                        <br>
                        <input name="photo4" type="file" class="form-control-file" id="exampleFormControlFile1" onchange="readURL4(this);">
                        <img id="img4" src="/static/portfolio/images/{{id}}_img4.jpg" class="img-fluid" style="max-width: 200px; max-height: 150px;"/>
                    </div>
    
                    <div class="form-group form-field" style="text-align:center;">
                        <a type="submit" class="btn btn-primary" style="margin-right: 2%;" href="{% url 'portfolio:portfolio' %}" >Cancel</a>
                        <button type="submit" class="btn btn-primary" style="margin-left: 2%;">Submit</button>
                    </div>
                  
                </form>
            </div>
          </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function (e) {
      $('#img1').attr('src', e.target.result);
    };

    reader.readAsDataURL(input.files[0]);
  }
}

function readURL2(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function (e) {
      $('#img2').attr('src', e.target.result);
    };

    reader.readAsDataURL(input.files[0]);
  }
}

function readURL3(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function (e) {
      $('#img3').attr('src', e.target.result);
    };

    reader.readAsDataURL(input.files[0]);
  }
}

function readURL4(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function (e) {
      $('#img4').attr('src', e.target.result);
    };

    reader.readAsDataURL(input.files[0]);
  }
}

</script>


{% endblock %}