{% extends 'profile/dashboard.html' %}
{% load static %}

{% block title %}
<title>Portfolio</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'portfolio/css/portfolio.css' %}">
{% endblock %}

{% block section %}
<div class="container-portolio">
    <div class="container">
        <br>
        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
            <h4 class="title-portfolio" style="font-weight: 700; font-size: 1.7em; margin-left: 0%;">List Portfolio</h4>
            <a type="button" class="btn-create btn" style="margin-top:0;" href="{% url 'portfolio:createPortfolio' %}">Create</a>
        </div>
        <br>
        <div class="row">
            {% if list_portfolio%}
                {% for portfolio in list_portfolio %}
                <div class="col-sm-4 py-2">
                    <div class="card h-100 mb-3">
                        <img src="/static/portfolio/images/{{portfolio.id}}_img1.jpg" class="card-img-top img-fluid"  alt="...">
                        <div class="card-body">
                            <p style="color: #7C82FF; ">{{portfolio.city}}, {{portfolio.province}}</p>
                            <h5 class="card-title">{{portfolio.name}}</h5>
                        </div>
                        <div class="card-footer">
                            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group" role="group" aria-label="First group">
                                    <a type="button" class="btn-detail btn" style="margin-top:0;" href="detail-portfolio/{{portfolio.id}}">Detail</a>
                                </div>
                                <div class="btn-group" role="group" aria-label="Second group">
                                   <a  href="edit-portfolio/{{portfolio.id}}"><i class="fas fa-edit" style="font-size: 2em;"></i></a> 
                                    <i id="delete-portfolio" class="fas fa-trash" style="font-size: 2em; margin-left: 10%;" data-toggle="modal" data-target="#deleteModal" data-url-delete="delete-portfolio/{{portfolio.id}}"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-body">
                            <h5 class="card-title">Are you sure want to delete this portfolio?</h5>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-yes" data-dismiss="modal">No</button>
                          <a  id ="delete-final" href="" type="button" class="btn btn-delete">Yes</a>
                        </div>
                      </div>
                    </div>
                </div>
                {% endfor %} 
            {% else %}
                <p> Sorry, You have not created any portfolio yet. Let's create portfolio!</p>
            {% endif %}
        </div>



{% endblock %}
{% block script %}
<script>
$('#deleteModal').on('show.bs.modal', function(e) {
    var url_delete = $(e.relatedTarget).data('url-delete');
    $("#delete-final").attr("href", url_delete);
});
</script>
{% endblock %}