{% extends 'home/base.html' %}
{% load static %}

{% block title %}
<title>Portfolio</title>
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'portfolio/css/portfolio.css' %}">
<link rel="stylesheet" href="{% static 'profile/css/profile_outside.css' %}">
{% endblock %}

{% block body %}
<div class="profile-wrapper">
    <div class="container-portolio">
        <div class="container">
            <br>
            <a href="/profile/{{name}}" class="btn"><i class="fas fa-chevron-left"></i> Back</a>
            <br>
            <br>
            <p class='name'>{{ name }}'s Projects</p>
            <br>
            <div class="row">
                {% if list_portfolio%}
                    {% for portfolio in list_portfolio %}
                    <div class="col-sm-4 py-2">
                        <div class="card h-100 mb-3">
                            <img src="/static/portfolio/images/{{portfolio.id}}_img1.jpg" class="card-img-top img-fluid"  alt="...">
                            <div class="card-body">
                                <p style="color: #7C82FF;">{{portfolio.city}}, {{portfolio.province}}</p>
                                <h5 class="card-title">{{portfolio.name}}</h5>
                            </div>
                            <div class="card-footer">
                                <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                                    <div class="btn-group" role="group" aria-label="First group">
                                        <a type="button" class="btn-detail btn" style="margin-top:0;" href="/portfolio/{{name}}/{{portfolio.id}}">Detail</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %} 
                {% else %}
                    <p>This professional doesn't have any portfolio.</p>
                {% endif %}
            </div>
        </div>
    </div>  
    <div class='info-wrapper'>
        <div class='clipped'>
        </div>
        <div class='info-content'>
        </div>
    </div>  
</div>
{% endblock %}