body {
    font-family: 'Poppins', sans-serif; 
    background-color: #F5F5F5;
}

.nav-base {
    background-color: #7C82FF;
    padding: 0.5em 2em;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.nav-link {
    color: white;
}

.nav-link:hover{
    color: #121445;
}

.nav-link:focus{
    color: #121445;
}

.font-purple {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    color: #7C82FF;
}

.login {
    background-color: #121445;
}

.login:hover{ 
    color:white;
}

.login:focus{ 
    color:white;
}