{% extends 'home/base.html' %}
{% load static %}

{% block title %}
<title>Request Project</title>
{% endblock %}

{% block link %} 

{% block style %} 
<link rel="stylesheet" href="{% static 'find_professional/css/requestproject.css' %}">

{% endblock %}

{% endblock %}

{% block body %}

<section>
    <div class="content-wrapper">
        {% block section %}
        <div class="request-page">
            <a href="{% url 'find_professional:professionals' type='All' %}" class="btn"><i class="fas fa-chevron-left"></i> Back</a>
            <div class="request-form">
                <div class="request-form-header">
                    <h4>Request Project</h4>
                </div>
                <div class="request-form-content">
                    <form action="{% url 'find_professional:projectrequest' professional_id %}" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                          <label for="exampleInputEmail1">Professional</label>
                          <input class="form-control" type="text" value="{{professional_name}}" name="namaprofessional" id="namaprofessional" disabled readonly>
                        </div>
                        <div class="mb-3">
                            <label for="validationCustom04" class="form-label">Project</label>
                            <select class="form-select" name="validationCustom04" id="validationCustom04" required>
                              <option selected disabled value="">Choose Your Project</option>
                              {% for project in project_list %}
                              <option value={{project.id}} data-project-title={{project.title}}>{{project.title}}</option>
                              {% endfor %}
                            </select>
                            <div class="invalid-feedback">
                              Please select a valid state.
                            </div>
                        </div>
                      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="{% url 'find_professional:professionals' type='All' %}" class="btn btn-primary btn-request float-right">Cancel</a>
                        <button type="submit" class="btn btn-primary btn-request float-right submit" data-bs-toggle="modal" data-bs-target="#exampleModal">Request</button>
                      </div>
                    </form>
                </div>    
            </div>


        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header request">
                <h3 class="modal-title" id="exampleModalCenterTitle">Request Project</h3>
              </div>
              <div class="modal-body">
                Request project to {{professional_name}} has succeeded.
              </div>
              <div class="modal-footer">
                <a href="{% url 'find_professional:professionals' type='All' %}" type="button" class="btn btn-primary btn-request" data-bs-dismiss="modal">Close</a>
              </div>
            </div>
          </div>
        </div>
        {% endblock %}
    </div>
</section>

{% endblock %}



