{% extends 'profile/dashboard.html' %}
{% load static %}

{% block title %}
<title>BUILDINGO</title>
{% endblock %}

{% block style %} 
<link rel="stylesheet" href="{% static 'css/project.css' %}">
<link rel="stylesheet" href="{% static 'css/createproject.css' %}">
{% endblock %}

{% block section%}
<div class="project-page">
    <a href="{% url 'project:projectList' %}" class="btn"><i class="fas fa-chevron-left"></i> Back</a>
    <div class="project-form">
        <div class="project-form-header">
            <h4>Create New Project</h4>
        </div>
        <div class="project-form-content">
            <form id="form-create" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <div class="form-group">
                  <label for="projectTitle">Project Title</label>
                  <input type="text" class="form-control" id="projectTitle" placeholder="Your project title" name="projectTitle" required>
                </div>
                <div class="form-group">
                    <label for="projectType">Project Type</label>
                    <select id="projectType" class="form-control" name="projectType" required>
                      <option value="" readonly selected>Choose your project type</option>
                      <option value="Design">Design</option>
                      <option value="Construct">Construct</option>
                      <option value="Design - Construct">Design - Construct</option>
                    </select>
                </div>
                <div class="form-group">
                  <label for="estimatedTime">Estimated Finish Time <i class="fas fa-info-circle"data-toggle="tooltip" data-placement="right" title="Make sure the time you choose is feasible"></i></label>
                  <input type="date" class="form-control datepicker" id="estimatedTime" placeholder="Your project estimated time" name="estimatedTime" required>
                </div>
                <div class="form-group">
                    <label for="budgetRange">Budget Range</label>
                    <input type="number" class="form-control" id="budgetRange" placeholder="Your Budget" name="budgetRange" required>
                </div>
                <div class="form-group">
                  <label for="length">Length</label>
                  <input type="number" class="form-control" id="length" placeholder="Your Building Length" name="length" required>
                  <label for="width">Width</label>
                  <input type="number" class="form-control" id="width" placeholder="Your Building Width" name="width" required>
                </div>
                <div class="form-group">
                    <label for="buldingType">Building Type</label>
                    <select id="buildingType" class="form-control" name="buildingType" required>
                      <option value="" readonly selected>Choose your building type</option>
                      {% for option in create_form.building_type %}
                      <option value={{option.0}}>{{option.0}}</option>
                      {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="stylePreferences">Style Preferences</label>
                    <select id="stylePreferences" class="form-control" name="stylePreferences" required>
                      <div class="overflow-scroll">
                        <option value="" readonly selected>Choose your style preferences</option>
                        {% for option in create_form.building_style %}
                        <option value={{option.0}}>{{option.0}}</option>
                        {% endfor %}
                      </div>
                    </select>
                </div>
                <div class="form-group">
                    <label for="province">Province <i class="fas fa-info-circle"data-toggle="tooltip" data-placement="right" title="We just have our service for the available location"></i></label>
                    <select id="province" class="form-control" name="province" required>
                      <option value="" readonly selected>Choose your project location (Province)</option>
                      {% for option in create_form.province %}
                      <option value="{{option.0}}">{{option.0}}</option>
                      {% endfor %}
                    </select>
                    <div class="form-group">
                      <label for="city">City</label>
                      <input type="text" class="form-control" id="city" placeholder="City" name="city" required>
                    </div>
                </div>
                <div class="form-group">
                  <label for="needs" >Needs <i class="fas fa-info-circle"data-toggle="tooltip" data-placement="right" title="Define your needs with detail request and information "></i></label>
                  <textarea class="form-control" id="needs" rows="3" name="needs"></textarea>
                </div>
                <div class="form-group">
                    <label for="wants">Wants <i class="fas fa-info-circle"data-toggle="tooltip" data-placement="right" title="Define your wants with detail request and information "></i></label>
                    <textarea class="form-control" id="wants" rows="3" name="wants"></textarea>
                  </div>
                <div class="form-group>
                    <label for="Image">Image <i class="fas fa-info-circle"data-toggle="tooltip" data-placement="right" title="Please only insert file with picture format(JPG, PNG, JPEG). You can add more than 1 picture"></i></label>
                    <div class="img-container">
                      <div class="img-input-container">
                        <input type="file" class="form-control img-input" onchange="readURL(this)" id="Image1" name="imageinput">
                        <div class="img-loader-container">
                          <img id="load1"class="img-fluid img-loader">
                        </div>       
                      </div>
                      <div class="img-input-container">
                        <input type="file" class="form-control img-input" onchange="readURL(this)" id="Image2" name="imageinput2">
                        <div class="img-loader-container">
                          <img id="load2"class="img-fluid img-loader">
                        </div>       
                      </div>
                      <div class="img-input-container">
                        <input type="file" class="form-control img-input" onchange="readURL(this)" id="Image3" name="imageinput3">
                        <div class="img-loader-container">
                          <img id="load3"class="img-fluid img-loader">
                        </div>     
                      </div>
                    
                    </div>
                    
                </div>
                <div class="form-group">
                  <div class="file-input">
                    <label for="additionalFile">Additional File 1</label>
                    <input type="file" class="form-control" id="additionalFile" name="additionalFile">
                  </div>
                  <div class="file-input">
                    <label for="additionalFile">Additional File 2</label>
                    <input type="file" class="form-control" id="additionalFile" name="additionalFile2">
                  </div>
                </div>
                <div class="btn-project-create">
                  {% csrf_token %}
                  <a class="btn btn-light" href="{% url 'project:projectList' %}" >Cancel</a>
                  <input type="submit" class="btn btn-light" value="Create">
              </div>
              </form>
        </div>    
    </div>
    
</div>
<div class="modal fade" id="modalNotificationSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Project Success Created
      </div>
      <div class="modal-footer">
        <a href="{% url 'project:projectList' %}" type="button" class="btn btn-secondary">Okay</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block script %}
<script src="{% static 'js/createproject.js' %}"></script>
{% endblock %}