{% extends 'profile/dashboard.html' %}
{% load static %}

{% block title %}
<title>BUILDINGO</title>
{% endblock %}

{% block style %} 
<link rel="stylesheet" href="{% static 'css/project.css' %}">
<link rel="stylesheet" href="{% static 'css/createproject.css' %}">
<link rel="stylesheet" href="{% static 'css/editproject.css' %}">
{% endblock %}

{% block section%}
<div class="project-page">
    <a href="{% url 'project:projectList' %}" class="btn"><i class="fas fa-chevron-left"></i> Back</a>
    <div class="project-form">
        <div class="project-form-header">
            <h4>Edit Project</h4>
        </div>
        {% for edit in project %}
        
        <div class="project-form-content">
            <form id="form-create" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <div class="form-group">
                  <label for="projectTitle">Project Title</label>
                  <input type="text" class="form-control" id="projectTitle" placeholder="Your project title" name="projectTitle" required value={{edit.0}}>
                </div>
                <div class="form-group">
                    <label for="projectType">Project Type</label>
                    <select id="projectType" class="form-control" name="projectType" required>
                      <option class="default" readonly selected value={{edit.1}}>{{edit.1}}</option>
                      <option value="Design">Design</option>
                      <option value="Construct">Construct</option>
                      <option value="Design - Construct">Design - Construct</option>
                    </select>
                </div>
                <div class="form-group">
                  <label for="estimatedTime">Estimated Finish Time <i class="fas fa-info-circle"data-toggle="tooltip" data-placement="right" title="You must edit the estimated time, or replace with current estimated time"></i></label>
                  <div id="{{edit.4}}" class="default-date">Current Estimated Time : {{edit.4}}</div> 
                  <input type="date" class="form-control " id="estimatedTime" placeholder="Your project estimated time" name="estimatedTime" value="20/11/2001"  required>
                </div>
                <div class="form-group">
                    <label for="budgetRange">Budget Range</label>
                    
                    <input type="number" class="form-control" id="budgetRange" placeholder="Your Budget" name="budgetRange" required value={{edit.8}}>
                </div>
                <div class="form-group">
                  <label for="length">Length</label>
                  <input type="number" class="form-control" id="length" placeholder="Your Building Length" name="length" value={{edit.9}} required>
                  <label for="width">Width</label>
                  <input type="number" class="form-control" id="width" placeholder="Your Building Width" name="width" value={{edit.10}} required>
                </div>
                <div class="form-group">
                    <label for="buldingType">Building Type</label>
                    <select id="buildingType" class="form-control" name="buildingType" required>
                      <option value="{{edit.7}}" readonly selected>{{edit.7}}</option>
                      {% for option in create_form.building_type %}
                      <option value={{option.0}}>{{option.0}}</option>
                      {% endfor %}
                    </select>
                    </select>
                </div>
                <div class="form-group">
                    <label for="stylePreferences">Style Preferences</label>
                    <select id="stylePreferences" class="form-control" name="stylePreferences" required>
                      <option value="{{edit.11}}" readonly selected>{{edit.11}}</option>
                      {% for option in create_form.building_style %}
                      <option value={{option.0}}>{{option.0}}</option>
                      {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="location">Location <i class="fas fa-info-circle"data-toggle="tooltip" data-placement="right" title="We just have our service for the available location"></i></label>
                    <select id="location" class="form-control" name="province" required>
                      <option selected readonyly value="{{edit.6}}">{{edit.6}}</option>
                      {% for option in create_form.province %}
                      <option value="{{option.0}}">{{option.0}}</option>
                      {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                  <label for="city">City</label>
                  <input type="text" class="form-control" id="city" placeholder="City" name="city" required value={{edit.5}}>
                </div>
                <div class="form-group">
                  <label for="needs" >Needs <i class="fas fa-info-circle"data-toggle="tooltip" data-placement="right" title="Define your needs with detail request and information "></i></label>
                  <textarea class="form-control" id="needs" rows="3" name="needs" > {{edit.12}}</textarea>
                    <label for="wants">Wants <i class="fas fa-info-circle"data-toggle="tooltip" data-placement="right" title="Define your wants with detail request and information "></i></label>
                    <textarea class="form-control" id="wants" rows="3" name="wants">{{edit.13}}</textarea>
                  </div>
                
           
                <div class="form-group">
                  <label for="Image">Image <i class="fas fa-info-circle"data-toggle="tooltip" data-placement="right" title="Please only insert file with picture format(JPG, PNG, JPEG). You can add more than 1 picture"></i></label>
                  <div class="img-container">
                    <div class="img-input-container">
                      <input type="file" class="form-control img-input" onchange="readURL(this)" id="Image1" name="imageinput">
                      <div class="img-loader-container">
                        <img src="static/img/{{project_id}}-img1.png" id="load1"class="img-fluid img-loader" alt="Image not found" onerror="this.onerror=null;this.src='/static/img/alt-image.jfif';">
                      </div>       
                    </div>
                    <div class="img-input-container">
                      <input type="file" class="form-control img-input" onchange="readURL(this)" id="Image2" name="imageinput2">
                      <div class="img-loader-container">
                        <img src="static/img/{{project_id}}-img2.png" id="load2"class="img-fluid img-loader" alt="Image not found" onerror="this.onerror=null;this.src='/static/img/alt-image.jfif';">
                      </div>       
                    </div>
                    <div class="img-input-container">
                      <input type="file" class="form-control img-input" onchange="readURL(this)" id="Image3" name="imageinput3">
                      <div class="img-loader-container">
                        <img src="static/img/{{project_id}}-img3.png" id="load3"class="img-fluid img-loader" alt="Image not found" onerror="this.onerror=null;this.src='/static/img/alt-image.jfif';" />
                      </div>     
                    </div>

                </div>
                <div class="form-group">
                  <div class="file-album">
                    {% if file_list.1 > 0 %}
                      {% for file in file_list.0 %}
                        <div class="file-item">
                            <i class="far fa-file-pdf"></i> 
                            <a href="{% url 'project:download' filename=file.1 %}" target="_blank">{{file.1}}</a>
                        </div>
                      {% endfor %}
                    {% else %}
                    <p>Empty</p>
                    {% endif %}
                    </div>
                  <div class="file-input">
                    <label for="additionalFile">Additional File 1</label>
                    <input type="file" class="form-control" id="additionalFile" name="additionalFile">
                  </div>
                  <div class="file-input">
                    <label for="additionalFile">Additional File 2</label>
                    <input type="file" class="form-control" id="additionalFile" name="additionalFile2">
                  </div>
                </div>
                <div class="btn-project-create">
                  <a class="btn btn-light" href="{% url 'project:projectList' %}" >Cancel</a>
                  <input type="submit" class="btn btn-light" value="Save Changes">
              </div>    
              {% endfor %} 
              </form>
            </div>  
        </div>    
    </div>
    
</div>
<div class="modal fade" id="modalNotificationSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Project Success Created
      </div>
      <div class="modal-footer">
        <a href="{% url 'project:projectList' %}" type="button" class="btn btn-secondary">Okay</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block script %}
<script src="{% static 'js/editproject.js' %}"></script>
{% endblock %}