{% extends 'profile/dashboard.html' %}
{% load static %}

{% block title %}
<title>BUILDINGO</title>
{% endblock %}

{% block style %} 
<link rel="stylesheet" href="{% static 'css/project.css' %}">
<link rel="stylesheet" href="{% static 'css/projectdetail.css' %}">
{% endblock %}

{% block section%}
{% for detail in project %}
<div class="project-page">
    <a href="{% url 'project:projectList' %}" class="btn"><i class="fas fa-chevron-left"></i> Back</a>
  <div class="project-card">
      <div class="project-header">
        <div class="project-title">
            <h5>
                {{detail.0}}
            </h5>

            {% if role == 'Project Owner' %}
              {% if detail.2 == 'ONGOING' %}
              <div class="dropdown">
                  <a href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <nav class="navbar navbar-light">
                          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                          </button>
                      </nav>
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" data-toggle="modal" data-target="#modalCantEdit">Edit Project</a>
                    <a class="dropdown-item" data-toggle="modal" data-target="#modalCancellation">Delete Project</a>
                    </div>
                </div>
                {% elif detail.2 == 'OPENED' %}
                <div class="dropdown">
                  <a href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <nav class="navbar navbar-light">
                          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                          </button>
                      </nav>
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'project:editproject' edit_id=project_id %}">Edit Project</a>
                    <a class="dropdown-item" data-toggle="modal" data-target="#modalConfirmDelete">Delete Project</a>
                    </div>
                </div> 
                {% endif %}     
               
              {% elif role == 'Professional' %}
                {% if status == 'REQUESTED' %}
                <div class="dropdown">
                  <a href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <nav class="navbar navbar-light">
                          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                          </button>
                      </nav>
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" data-toggle="modal" data-target="#modalAccept">Accept Project</a>
                    <a class="dropdown-item" data-toggle="modal" data-target="#modalReject">Reject Project</a>
                </div> 
                </div>
                {% endif %}

              {% endif %}



        </div>
        <div class="project-sub-title">
            <h6>
                {{detail.1}}
            </h6>
            <div class="project-status"> 
              {% if role == 'Project Owner' %}
                {{detail.2}}
              {% else %}
                {{status}}
              {% endif %}
            </div>
        </div>
    </div>
    <div class="project-content">
        <div class="project-content-1">
            <table>
                <tr>
                    <td>
                        <div class="project-content-1-item p-3" data-toggle="tooltip" data-placement="bottom" title="Project Owner">
                            <i class="fas fa-user"></i>
                            {{detail.3}}
                        </div>
                    </td>
                    <td>
                        <div class="project-content-1-item p-3" data-toggle="tooltip" data-placement="bottom" title="Estimated Finish Time">
                            <i class="fas fa-calendar-check"></i>
                            {{detail.4}}
                        </div>
                    </td>
                    <td>
                        <div class="project-content-1-item p-3" data-toggle="tooltip" data-placement="bottom" title="Project Location">
                            <i class="fas fa-map-marker-alt"></i>
                            {{detail.5}}, {{detail.6}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="project-content-1-item p-3"data-toggle="tooltip" data-placement="bottom" title="Building Type">
                            <i class="fas fa-building"></i>
                            {{detail.7}}
                        </div>
                    </td>
                    <td>
                        <div class="project-content-1-item p-3" data-toggle="tooltip" data-placement="bottom" title="Budget Range">
                            <i class="fas fa-coins"></i>
                            {{detail.8}}
                        </div>
                        <td>
                            <div class="project-content-1-item p-3" data-toggle="tooltip" data-placement="bottom" title="Building Area (Length x Width)">
                                <i class="fas fa-layer-group"></i>
                                {{detail.9}} x {{detail.10}} m2
                            </div>
                        </td>
                    </td>
                </tr>
            </table>
        </div>
        <div class="project-content-2">
            <h5>Detail</h5>
            <div>Style Preferences : {{detail.11}}
            </div>
            <div>
                <p>
                <h6>Needs :</h6>
                {{detail.12}}</p>
            </div>
            <div>
                <p>
                  <h6>
                    Wants:
                  </h6>
                  {{detail.13}}  
                </p>
                
            </div>
            <div>
                <h6>
                    Image 
                </h6>
                <div class="img-album">
                {%if image_list.1 > 0 %}
                  {% for image in image_list.0 %}
                    <div class="img-item">
                        <a class="modal-trigger"  data-toggle="modal" data-target="#modalPicture">
                            <img src="{% static image.1 %}" class="img-fluid" alt="Image not found" onerror="this.onerror=null;this.src='/static/img/alt-image.jfif';">
                        </a>
                    </div>
                  {% endfor %}
                {% else %}
                <p>Empty</p>
                {% endif %}
                </div>
            </div>
            <div>
                <h6>
                Additional File
                </h6>
                <div class="file-album">
                {% if file_list.1 > 0 %}
                  {% for file in file_list.0 %}
                    <div class="file-item">
                        <i class="far fa-file-pdf"></i> 
                        <a href="{% url 'project:download' filename=file.1 %}" target="_blank">{{file.1}}</a>
                    </div>
                  {% endfor %}
                {% else %}
                <p>Empty</p>
                {% endif %}
                </div>
            </div>
        </div>
        <div class="project-content-3">
            <h5>Professional In Charge</h5>
            {% if detail.1 == "Design" %}
            <div class="project-content-item">
            Architect :
              {% if need_architect %}
              {{architect_name}}
              {% if architect_status == "REQUESTED" %}
                <span class='status rounded rounded-pill status-yellow'>
                {% else %}
                <span class='status rounded rounded-pill status-green'>
                {% endif %}
                {{architect_status}}
              </span>
              {% else %} 
              <span class='status rounded rounded-pill status-red'>
                NOT REQUESTED
                </span>
                {% if role == 'Project Owner' %}
                <a href="{% url 'find_professional:professionals' type='Architect' %}" class="btn btn-project btn-project-fp">Find Professional</a>
                {% endif %}           
              {% endif %}
            </div>
            {% elif detail.1 == "Construct" %}
            <div class="project-content-item">
                Contractor : 
                {% if need_contractor %}
                {{contractor_name}} 
                {% if contractor_status == "REQUESTED" %}
                <span class='status rounded rounded-pill status-yellow'>
                {% else %}
                <span class='status rounded rounded-pill status-green'>
                {% endif %}
                {{contractor_status}}
              </span>
                {% else %} 
                <span class='status rounded rounded-pill status-red'>
                NOT REQUESTED
                </span>
                  {% if role == 'Project Owner' %}
                  <a href="{% url 'find_professional:professionals' type='Contractor' %}" class="btn btn-project btn-project-fp">Find Professional</a>
                  {% endif %}           
                {% endif %}
            </div>
            {% else %}
            <div class="project-content-item">
            Architect :
              {% if need_architect %}
              {{architect_name}} 
              {% if architect_status == "REQUESTED" %}
                <span class='status rounded rounded-pill status-yellow'>
                {% else %}
                <span class='status rounded rounded-pill status-green'>
                {% endif %}
                {{architect_status}}
              </span>
              {% else %} 
              <span class='status rounded rounded-pill status-red'>
                NOT REQUESTED
                </span>
                {% if role == 'Project Owner' %}
                <a href="{% url 'find_professional:professionals' type='Architect' %}" class="btn btn-project btn-project-fp">Find Professional</a>
                {% endif %}           
              {% endif %}
            </div>
          <div class="project-content-item">
            Contractor : 
            {% if need_contractor %}
            {{contractor_name}} 
            {% if contractor_status == "REQUESTED" %}
            <span class='status rounded rounded-pill status-yellow'>
            {% else %}
            <span class='status rounded rounded-pill status-green'>
            {% endif %}
            {{contractor_status}}
          </span>
            {% else %} 
            <span class='status rounded rounded-pill status-red'>
            NOT REQUESTED
            </span>
              {% if role == 'Project Owner' %}
              <a href="{% url 'find_professional:professionals' type='Contractor' %}" class="btn btn-project btn-project-fp">Find Professional</a>
              {% endif %}           
            {% endif %}
        </div>
            {% endif %}
            <div class="project-content-item">
                Invoice : Current File Invoice / Empty
                {% if role == 'Professional' %}
                <form>
                    <div class="form-group">
                        <input type="file" class="form-control" id="Invoice" name="Invoice">
                    </div>
                    <input type="submit" class="btn project-status btn-project" value="Upload Invoice">
                </form>
                {% endif %}
            </div>
            <div class="project-content-item">
                Output : Current Output / Empty
                {% if role == 'Professional' %}
                <form>
                    <div class="form-group">
                        <input type="file" class="form-control" id="Output" name="Output">
                    </div>
                    <input type="submit" class="btn project-status btn-project" value="Upload Output">
                </form>
                {% endif %}
            </div>
            {% if project_ready and role == 'Project Owner' and detail.2 == "OPENED" %}
            <div class="project-content-item">
              <a href="{% url 'project:startproject' project_id %}" class="btn project-status btn-project">Start Project</a>
          </div>
          {% endif %}
        </div>
    </div>
   

      
      
      

</div>
{% endfor %}
</div>
  <!-- Modal -->
  <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Delete Project</h5>
          <button type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure want to delete this project?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <a href="{% url 'project:deleteproject' delete_id=project_id %}" type="button" class="btn btn-danger">Yes</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalPicture" tabindex="-1" role="dialog">
    <div class="modal-lg modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <img id="img-enlarge" class="img-fluid">
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalCantEdit" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Warning</h5>
          <button type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Project that status not opened or already have Professional in Charge Can't Edit
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Okay</button>
        </div>
      </div>
    </div>
  </div>


<div class="modal fade" id="modalCancellation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cancellation Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method= "POST" action="{% url 'project:cancelproject' project_id %}">
        {% csrf_token %}
      <div class="modal-body">
          <div>
            Project that status not opened or already have Professional in Charge Can't Delete, You must request for Project Cancellation. If you want to continue the cancellation, fill the form and click proceed
          </div>
        
          <div class="form-group" >
            <label for="reason" class="col-form-label">Reason for Cancellation :</label>
            <textarea class="form-control" id="reason" name="reason" required></textarea>
          </div>
            <input type="checkbox" id="agree" required></input>
            <label for="message-text" class="col-form-label">I agree the <a target= '_blank' role="button" href="https://www.termsandcondiitionssample.com/live.php?token=GicTxAnGvXkPyLwMCOhqMQGZyDQTSPLK" class="link-primary">terms and condition</a></label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-danger" value="Proceed">Proceed</button>
      </div>
    </div>
    </form>
  </div>
</div>

<div class="modal fade" id="modalAccept" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Accept Project</h5>
        <button type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure want to Accept this project?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <a href="{% url 'project:acceptproject' project_id=project_id %}" type="button" class="btn btn-danger">Yes</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalReject" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Reject Project</h5>
        <button type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure want to Reject this project?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <a href="{% url 'project:rejectproject' project_id=project_id %}" type="button" class="btn btn-danger">Yes</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block script %}
<script src="{% static 'js/projectdetail.js' %}">

</script>
{% endblock %}
