{% extends 'profile/dashboard.html' %}
{% load static %}

{% block title %}
<title>BUILDINGO</title>
{% endblock %}

{% block style %} 
<link rel="stylesheet" href="{% static 'css/project.css' %}">
<link rel="stylesheet" href="{% static 'css/projectlist.css' %}">
{% endblock %}

{% block section%}
{% for msg in messages %}
<div class="modal fade" id="modalAlert" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Information</h5>
      </div>
      <div class="modal-body">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <h6>{{msg}}</h6>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>

        
{% endfor %}
<div class="project-page container-fluid">
  <div class="list-nav container">
    {% if role == 'Project Owner' %}
    <div id="status-nav-project-owner" class="status-nav">
      <div id="opened" class="status-item status-active">
            <a class="project-btn">Opened</a>
        </div>
        <div id="ongoing" class="status-item">
            <a class="project-btn">Ongoing</a>
        </div>
        <div id="finished" class="status-item">
          <a class=" project-btn">Finished</a>
      </div>
    </div>
    {% elif role == "Professional" %}
    <div id="status-nav-project-owner" class="status-nav">
      <div id="requested" class="status-item status-active">
            <a class="project-btn">Requested</a>
        </div>
        <div id="accepted" class="status-item">
            <a class="project-btn">Accepted</a>
        </div>
        <div id="finished" class="status-item">
          <a class=" project-btn">Finished</a>
      </div>
    </div>
    {% endif %}
    <div class="create-nav">
      {% if role == 'Project Owner' %}
      <a class="create-item project-btn" href="{% url 'project:createProject' %}" >Create Project</a>
      {% endif %}
    </div>
  </div>

  
  <div class="project-list container">
    
    {% if role == 'Project Owner' %}
    <div id="list-opened" class="list-active"> 
      {% for project in list_project %}
      {% if project.14 == 'OPN' %}
      <div class="project-item">
        <div class="project-title">
          <h5>
           {{project.2}}
          </h5>
          <div class="dropdown">
            <a href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <nav class="navbar navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              </nav>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'project:editproject' edit_id=project.0 %}">Edit Project</a>
              <a id={{project.0}} class="dropdown-item" data-toggle="modal" data-target="#modalDelete" data-url-delete="deleteproject/{{project.0}}">Delete Project</a>
            </div>
          </div>
        </div>
        <div class="project-sub-title">
        {{project.3}}  
        </div>
        <div class="project-content">
            <div class="project-content-1">
              <div class="project-content-1-item" data-toggle="tooltip" data-placement="bottom" title="Project Location">
                <i class="fas fa-map-marker-alt"></i>
                  {{project.8}}, {{project.9}}
                </div>
                <div class="project-content-1-item" data-toggle="tooltip" data-placement="bottom" title="Budget Range">
                  <i class="fas fa-coins"></i>
                    {{project.5}}
                </div>
                <div class="project-content-1-item" data-toggle="tooltip" data-placement="bottom" title="Estimated Finish Time">
                  <i class="fas fa-calendar-check" ></i>
                  {{project.4}}
              </div>
            </div>
            <div class="project-content-2">
              <a class="project-content-2-item project-btn" href="{% url 'project:projectDetail' detail_id=project.0 %}" >Detail</a>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Delete Project</h5>
            <button type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure want to delete this project?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <a href="" id="deleteFinal" type="button" class="btn btn-danger">Yes</a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    </div>
    
    <div id="list-ongoing">
      {% for project in list_project %}
      {% if project.14 == 'ONG' or project.14 == 'CRQ' %}
      <div class="project-item">
        <div class="project-title">
          <h5>
            {{project.2}}
          </h5>
          {% if project.14 == 'ONG' %}
          <div class="dropdown">
            <a href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <nav class="navbar navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              </nav>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item"data-toggle="modal" data-target="#modalCantEdit">Edit Project</a>
              <a class="dropdown-item" data-toggle="modal" data-target="#modalCancellation" data-url-cancel="cancelproject/{{project.0}}">Delete Project</a>
            </div>
          </div>
          {% else %}
          <div class='status rounded rounded-pill status-yellow'>
            CANCELLATION REQUESTED
          </div>
          {% endif %}
        </div>
        <div class="project-sub-title">
          {{project.3}}  
        </div>
        <div class="project-content">
            <div class="project-content-1">
              <div class="project-content-1-item" data-toggle="tooltip" data-placement="bottom" title="Project Location">
                <i class="fas fa-map-marker-alt"></i>
                {{project.8}}, {{project.9}}
                </div>
                <div class="project-content-1-item" data-toggle="tooltip" data-placement="bottom" title="Budget Range">
                  <i class="fas fa-coins"></i>
                  {{project.5}}
                </div>
                <div class="project-content-1-item" data-toggle="tooltip" data-placement="bottom" title="Estimated Finish Time">
                  <i class="fas fa-calendar-check" ></i>
                  {{project.4}}
              </div>
            </div>
            <div class="project-content-2">
              <a class="project-content-2-item project-btn" href="{% url 'project:projectDetail'  detail_id=project.0  %}">Detail</a>
            </div>
        </div>
    </div>

    <!-- Modal for List Ongoing-->
      <div class="modal fade" id="modalCantEdit" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Warning</h5>
              <button type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Project that status not opened or already have Professional in Charge Can't Edit
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Okay</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="modalCancellation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Cancellation Form</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="cancelFinal" method= "POST" action="{% url 'project:cancelproject' project.0 %}">
              {% csrf_token %}
            <div class="modal-body">
                <div>
                  {{project.0}}Project that status not opened or already have Professional in Charge Can't Delete, You must request for Project Cancellation. If you want to continue the cancellation, fill the form and click proceed
                </div>
              
                <div class="form-group" >
                  <label for="reason" class="col-form-label">Reason for Cancellation :</label>
                  <textarea class="form-control" id="reason" name="reason" required></textarea>
                </div>
                  <input type="checkbox" id="agree" required></input>
                  <label for="message-text" class="col-form-label">I agree the <a target= '_blank' role="button" href="https://www.termsandcondiitionssample.com/live.php?token=GicTxAnGvXkPyLwMCOhqMQGZyDQTSPLK" class="link-primary">terms and condition</a></label>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-danger" value="Proceed">Proceed</button>
            </div>
          </div>
          </form>
        </div>
      </div>
    {% endif %}
    {% endfor %}
    </div>
    
    {% elif role == "Professional" %}
    <div id="list-requested"  class="list-active">
      {% for project in list_project %}
      {% if project.17 == 'REQ' %}
      <div class="project-item">
        <div class="project-title">
          <h5>
            {{project.2}}
          </h5>
          <div class="dropdown">
            <a href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <nav class="navbar navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              </nav>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" data-toggle="modal" data-target="#modalAccept" data-url-accept="acceptproject/{{project.0}}">Accept Project</a>
              <a class="dropdown-item" data-toggle="modal" data-target="#modalReject" data-url-reject="rejectproject/{{project.0}}">Reject Project</a>
            </div>
          </div>
        </div>
        <div class="project-sub-title">
          {{project.3}}   
        </div>
        <div class="project-content">
            <div class="project-content-1">
              <div class="project-content-1-item" data-toggle="tooltip" data-placement="bottom" title="Project Location">
                <i class="fas fa-map-marker-alt"></i>
                {{project.8}}, {{project.9}}
                </div>
                <div class="project-content-1-item" data-toggle="tooltip" data-placement="bottom" title="Budget Range">
                  <i class="fas fa-coins"></i>
                  {{project.5}}
                </div>
                <div class="project-content-1-item" data-toggle="tooltip" data-placement="bottom" title="Estimated Finish Time">
                  <i class="fas fa-calendar-check" ></i>
                  {{project.4}}
              </div>
            </div>
            <div class="project-content-2">
              <a class="project-content-2-item project-btn" href="{% url 'project:projectDetail' detail_id=project.0 %}">Detail</a>
            </div>
        </div>
    </div>

    <!-- Modal for List Requested-->
    <div class="modal fade" id="modalAccept" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Accept Project</h5>
            <button type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure want to Accept this project?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <a id="acceptFinal" href="{% url 'project:acceptproject' project_id=project.0 %}" type="button" class="btn btn-danger">Yes</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="modalReject" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Reject Project</h5>
            <button type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure want to Reject this project?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <a id="rejectFinal" href="{% url 'project:rejectproject' project_id=project.0 %}" type="button" class="btn btn-danger">Yes</a>
          </div>
        </div>
      </div>
    </div>

    {% endif %}
    {% endfor %}
    </div>

    <div id="list-accepted">
      {% for project in list_project %}
      {% if project.17 == 'ACC' %}
      <div class="project-item">
        <div class="project-title">
          <h5>
            {{project.2}}
          </h5>
        </div>
        <div class="project-sub-title">
          {{project.3}}      
        </div>
        <div class="project-content">
            <div class="project-content-1">
              <div class="project-content-1-item" data-toggle="tooltip" data-placement="bottom" title="Project Location">
                <i class="fas fa-map-marker-alt"></i>
                {{project.8}}, {{project.9}}
                </div>
                <div class="project-content-1-item" data-toggle="tooltip" data-placement="bottom" title="Budget Range">
                  <i class="fas fa-coins"></i>
                  {{project.5}}
                </div>
                <div class="project-content-1-item" data-toggle="tooltip" data-placement="bottom" title="Estimated Finish Time">
                  <i class="fas fa-calendar-check" ></i>
                  {{project.4}}
              </div>
            </div>
            <div class="project-content-2">
              <a class="project-content-2-item project-btn" href="{% url 'project:projectDetail' detail_id=project.0 %}">Detail</a>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    </div>
    {% endif %}

    <div id="list-finished">
      {% for project in list_project %}
      {% if project.14 == 'FIN' %}
      <div class="project-item">
        <div class="project-title">
          <h5>
            {{project.2}}
          </h5>
        </div>
        <div class="project-sub-title">
          {{project.3}}      
        </div>
        <div class="project-content">
            <div class="project-content-1">
              <div class="project-content-1-item" data-toggle="tooltip" data-placement="bottom" title="Project Location">
                <i class="fas fa-map-marker-alt"></i>
                {{project.8}}, {{project.9}}
                </div>
                <div class="project-content-1-item" data-toggle="tooltip" data-placement="bottom" title="Budget Range">
                  <i class="fas fa-coins"></i>
                  {{project.5}}
                </div>
                <div class="project-content-1-item" data-toggle="tooltip" data-placement="bottom" title="Estimated Finish Time">
                  <i class="fas fa-calendar-check" ></i>
                  {{project.4}}
              </div>
            </div>
            <div class="project-content-2">
              <a class="project-content-2-item project-btn" href="{% url 'project:projectDetail'  detail_id=project.0  %}">Detail</a>
          </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock %}
{% block script %}
<script  src="{% static 'js/projectlist.js' %}"></script>
{% endblock %}
