{% extends 'home/base.html' %}
{% load static %}

{% block title %}
<title>Dashboard</title>
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'profile/css/dashboard.css' %}">

{% block style %}
<!-- Specific profile/project/portfolio styling goes here -->
{% endblock %}

{% endblock %}

{% block body %}
<section>
    <h4>Dashboard</h4>
    <div class='dashboard-nav'>
        <div class="dashboard-item">
            <a href="{% url 'user_profile:myProfile' %}" >Profile</a>
        </div>

        {% if role != 'Administrator' %}
        <div class="dashboard-item">
            <a href="{% url 'project:projectList' %}">Project</a>
        </div>
        {% endif %}

        {% if role == 'Administrator' %}
        <div class="dashboard-item">
            <a href="{% url 'verifikasi:listProject' %}">Project List</a>
        </div>
        {% endif %}

        {% if role == 'Professional' %}
        <div class="dashboard-item">
            <a href="{% url 'portfolio:portfolio'%}">Portfolio</a>
        </div>
        {% endif %}

        {% if role == 'Administrator' %}
        <div class="dashboard-item">
            <a href="{% url 'verifikasi:listProfessional' %}">Professional List</a>
        </div>
        {% endif %}
        
    </div>

    <div class="content-wrapper">
        {% block section %}
        {% endblock %}
    </div>
</section>
{% endblock %}