{% extends 'profile/dashboard.html' %}
{% load static %}

{% block title %}
<title>Edit Profile</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'profile/css/edit_profile.css' %}">
{% endblock %}

{% block section %}
<form method="POST" action="{% url 'user_profile:saveProfile' %}" enctype="multipart/form-data" >
    {% csrf_token %}
    {{ profile_form.non_field_errors }}

    {% if role == 'Professional' %}
    <div class='header'>
        <p class='header-info'>  Do note that header is fixed at height 250px. Uploading an image with height more than 250px will be cropped and the image will be centered. Please upload accordingly.</p>
        {{ profile_form.header.errors }}
        {{ profile_form.header }}
    </div>
    {% endif %}
    
    <div class='profile_pict flex-shrink-1'>
        <label>Upload New Profile Picture  </label>
        <img src="{{ profpic }}" class='profile-picture'>
    </div>
    {{ profile_form.profpic.errors }}
    {{ profile_form.profpic }}

    <div class='d-flex mt-4'>
        {% if role == 'Professional' or role == 'Project Owner' %}
        <div class='about_me'>
            <div class='info-title-box'>
                <p class='sub-title'>ABOUT</p>
            </div>
            {{ profile_form.about_me.errors }}
            {{ profile_form.about_me }}
        </div>
        {% endif %}
        <div class='profile_detail'>
            <div class='info-title-box'>
                <p class='sub-title'>PROFILE DETAIL</p>
            </div>
            <div class='d-flex'>
                <div>
                    <label>Name </label>
                    {{ profile_form.name.errors }}
                    {{ profile_form.name }}
                </div>
                {% if role == 'Professional' and status == 'Verified' %}
                <div>
                    <label>Status  </label>
                    {{ profile_form.status.errors }}
                    {{ profile_form.status }}
                </div>
                {% endif %}
            </div>

            <div class='d-flex'>
                <div>
                    <label>Email </label>
                    {% for error in profile_form.email.errors %} %}
                    ahskdjaskljla
                    {% endfor %}
                    {{ profile_form.email.errors }}
                    {{ profile_form.email }}
                </div>
                <div>
                    <label>Password </label>
                    {{ profile_form.password.errors }}
                    {{ profile_form.password }}
                </div>
            </div>

            {% if role == 'Professional' %}
            <div class='d-flex'>
                <div>
                    <label>Professional Type </label>
                    {{ profile_form.professional_type.errors }}
                    {{ profile_form.professional_type }}
                </div>
                <div>
                    <label>Type  </label>
                    {{ profile_form.types.errors }}
                    {{ profile_form.types }}
                </div>
            </div>
            {% endif %}

            <label>Telephone Number </label>
            {{ profile_form.telephone_number.errors }}
            {{ profile_form.telephone_number }}

            {% if role == 'Professional' or role == 'Project Owner' %}
            
            <label class='location'>Location </label>
            <div class='d-flex'>
                <div>
                    <label class='mt-1'>City </label>
                    {{ profile_form.city.errors }}
                    {{ profile_form.city }}
                </div>
                <div>
                    <label class='mt-1'>Province  </label>
                    {{ profile_form.province.errors }}
                    {{ profile_form.province }}
                </div>
            </div>
            {% endif %}

            {% if role == 'Professional' %}
            <label>PIC (Person in Charge) </label>
            {{ profile_form.pic.errors }}
            {{ profile_form.pic }}
            <p class='mt-0 small-info'>Please put your name here if you are a Freelancer. Otherwise, put your Company's Contact Person here.</p>

            <label>Website </label>
            {{ profile_form.website.errors }}
            {{ profile_form.website }}
            {% endif %}

        </div>
    </div>

    {% if role == 'Professional' %}
    <div class='certificate mt-5'>
        <div class='info-title-box'>
            <p class='sub-title'>CERTIFICATE INFORMATION</p>
        </div>
        <div class='d-flex'>
            <div>
                <label>Certification Number </label>
                {{ profile_form.certification_number.errors }}
                {{ profile_form.certification_number }}
            </div>
            <div>
                <label>Certification Title </label>
                {{ profile_form.certification_name.errors }}
                {{ profile_form.certification_name }}
            </div>
        </div>
        <label>Certification Issued By </label>
        {{ profile_form.certification_issued_by.errors }}
        {{ profile_form.certification_issued_by }}

        <label>Certification Image </label>
        {{ profile_form.certification_image.errros }}
        {{ profile_form.certification_image }}
    </div>

    <div class='certificate mt-5'>
        <div class='info-title-box'>
            <p class='sub-title'>VERIFICATION INFORMATION</p>
        </div>
        <label>Identity Number ({% if types == 'Company' %}NPWP{% else %}NIK{% endif %})</label>
        {{ profile_form.identity_number.errors }}
        {{ profile_form.identity_number }}

        <label>Upload New 
            {% if types == 'Company' %} NPWP
            {% else %} KTP
            {% endif %} Image </label>
        {{ profile_form.identity_image.errors }}
        {{ profile_form.identity_image }}

        <label>Upload New File {% if types == 'Company' %} Nomor Induk Berusaha
            {% else %} KK
            {% endif %} File (PDF) </label>
        {{ profile_form.nib_file.errors }}
        {{ profile_form.nib_file }}
    </div>
    {% endif %}

    <button type="submit" class="btn"> <span class='save'>Save Profile</span> </button>
</form>
{% endblock %}

{% block script %}
<script>
  var job = document.getElementById('id_professional_type');
  job.addEventListener('change', function() {
    if (this.value === 'Contractor') {
      var op = document.getElementById("id_types").getElementsByTagName("option");
      for (var i = 0; i < op.length; i++) {
        if (op[i].value === "Freelance") {
          op[i].disabled = true;
        }
        if (op[i].value === "Company") {
          op[i].selected = true;
        }
      }
    }
    if (this.value === 'Architect') {
      var op = document.getElementById("id_types").getElementsByTagName("option");
      for (var i = 0; i < op.length; i++) {
        if (op[i].value === "Freelance") {
          op[i].disabled = false;
        }
      }
    }
  });
  
</script>
{% endblock %}