{% extends 'home/base.html' %}
{% load static %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block link %} 
<link rel="stylesheet" href="{% static 'profile/css/login.css' %}">
{% endblock %}

{% block body %}
<section class='d-flex'>
    <div class='login-wrapper'>
        {% if alert %}
        <div class="alert alert-danger" role="alert">
            {{ alert }}
        </div>
        {% else %}
        <div class="alert alert-danger" role="alert" style="visibility:hidden;"></div>
        {% endif %}

        <h3>Log in.</h3>
        <p> Login now to accesss your project or portfolio. </p>
        <form action="{% url 'user_profile:login' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name='email' required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name='password' required>
          </div>
          <button type="submit" class="btn submit">Login</button>
        </form>
        <p class='mt-4'>Don't have an account? <a href="{% url 'user_profile:signup' %}">Sign up Now</a></p>
    </div>
    <div class='login-images'>
        <img src="{% static 'profile/images/pexels-pixabay-159045.jpg' %}" class='login-image'>
    </div>
</section>
{% endblock %}