{% extends 'profile/dashboard.html' %}
{% load static %}

{% block title %}
<title>Profile</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'profile/css/profile.css' %}">
{% endblock %}

{% block section %}
<div class="profile-wrapper">
    {% if role == 'Professional'%}
    <div class="header">
        <img src="{{ header }}" title="Header" width=100% height='250px' />
    </div>
    {% else %}
    <div class='invisible'>
        
    </div>
    {% endif %}

    {% if status == 'Unverified' %}
    <div class="alert alert-danger" role="alert">
        Attention. Your status is currently Unverified. Your profile won't be seen from Find Professional menu and Project Owner wouldn't be able to find you. Please complete your profile below and request for verification.
    </div>
    {% endif %}
    
    <div class="profile">
        <img src="{{profpic}}" class='profile-picture'>
        <div class="name-type">
            <div class='status-and-name'>
                <p class='name'>{{ name }}</p>
                {% if role == 'Professional'%}
                    {% if status == 'Verified' or status == 'Available' %}
                        <div class='status rounded rounded-pill status-green'>
                    {% elif status == 'Verification in Progress' %}
                        <div class='status rounded rounded-pill status-yellow'>
                    {% else %}
                        <div class='status rounded rounded-pill status-red'>
                    {% endif %}
                    <p class='text-uppercase'> {{status}}</p>
                    </div>
                {% endif %}
            </div>
            
            {% if role == 'Professional'%}
            <p class='text-uppercase professional-type'> {{ professional_type }} </p>
            {% endif %}
        </div>
        
    </div>

    <div class='info-wrapper'>
        <div class='info-content'>
            {% if role == 'Professional' or role == 'Project Owner' %}
            <div class='about card p-3 shadow-sm'>
                <div class='info-title-box'>
                    <p class='sub-title'>ABOUT 
                        {% if type == 'Company' %} US
                        {% else %} ME
                        {% endif %}
                    </p>
                </div>
                <p class='content'>{{about}}</p>
            </div>
            {% endif %}
            <div class='info'>
                <div class='contact card p-3 shadow-sm'>
                    <div class='info-title-box'>
                        <p class='sub-title'>PROFILE DETAIL</p>
                    </div>
                    <div class='d-flex'>
                        <div class='label'> 
                            <p> Email </p>
                            <p> Telephone </p>
                            {% if role == 'Professional' or role == 'Project Owner' %}
                            <p> Location </p>
                            {% endif %}
                            {% if role == 'Professional' %}
                            <p> PIC </p>
                            <p> Website </p>
                            <p> Type </p>
                            {% endif %}
                        </div>
                        <div class='value'>
                            <p> {{ email }} </p>
                            <p> {{ telephone }} </p>
                            {% if role == 'Professional' or role == 'Project Owner' %}
                            <p> {{ city }}, {{ province }} </p>
                            {% endif %}
                            {% if role == 'Professional'%}
                            <p> {{ pic }} </p>
                            <p> {{ website }} </p>
                            <p> {{ type }} </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if role == 'Professional' %}
                <div class='certificate mt-4 card p-3'>
                    <div class='info-title-box'>
                        <p class='sub-title'>CERTIFICATION DETAIL</p>
                    </div>
                    <div class='d-flex'>
                        <div class='label'> 
                            <p> Name </p>
                            <p> Issued By </p>
                            <p> Number </p>
                            <p> Image </p>
                        </div>
                        <div class='value'>
                            <p> {{ certification_name }} </p>
                            <p> {{ certification_issued_by }} </p>
                            <p> {{ certification_number }} </p>
                            <img src="{{certification_image}}" width=100%>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            
        </div>
        {% if role == 'Professional' %}
        <div class='verification card mt-4 p-3'>
            <div class='info-title-box'>
                <p class='sub-title'>VERIFICATION DETAIL</p>
            </div>
            <div class='d-flex'>
                <div class='label'> 
                    <p> {% if type == 'Company' %} File Nomor Induk Berusaha
                        {% else %} KK
                        {% endif %} 
                    </p>
                    <p> Identity Number ({% if type == 'Company' %}NPWP{% else %}NIK{% endif %}) 
                    </p>
                    <p> {% if type == 'Company' %} NPWP
                        {% else %} KTP
                        {% endif %} Image
                    </p>
                </div>
                <div class='value'>
                    <a href="{{nib_file}}"><i class="fas fa-external-link-alt pdf-file"></i> <span class='open-pdf'>Open File</span> </a>
                    <p> {{ identity_number }} </p>
                    <img src="{{identity_image}}" width=100%>
                    
                </div>
            </div>
        </div>
        {% endif %}

        
    </div>
    {% if status != 'Verification in Progress' %}
    <div class='edit-profile'>
        <button class='btn btn-edit'> <a href="{% url 'user_profile:editProfile' %}">Edit Profile</a></button>
    </div>
    {% endif %}
    {% if status == 'Unverified' %}
    <div class='verify-profile'>
        <button class='btn btn-verify'> <a href="{% url 'user_profile:verifyProfile' %}">Request Verification</a></button>
    </div>
    {% endif %}
        
</div>
{% endblock %}