{% extends 'home/base.html' %}
{% load static %}

{% block title %}
<title>Profile {{ name }}</title>
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'profile/css/profile_outside.css' %}">
{% endblock %}

{% block body %}
<div class="profile-wrapper">
    <div class="header">
        <img src="{{header}}" title="Header" width=100% height=250px />
        <div class='profPic'>
            
        </div>
    </div>
    
    <div class="profile">
        <img src="{{profpic}}" class='profile-picture'>
        <div class="name-type">
            <div class='status-and-name'>
                <p class='name'>{{ name }}</p>
                {% if role == 'Professional' %}
                <div class='status rounded rounded-pill'>
                    <p class='text-uppercase'> {{status}}</p>
                </div>
                {% endif %}
            </div>
            <p class='text-uppercase professional-type'> {{ professional_type }} </p>
        </div>
    </div>

    <div class='overview'>
        <p class='sub-title'> OVERVIEW PROJECTS </p>
        <div class='projects'>
            {% for portfolio in list_portfolio %}
            <div class="card">
                <img src="{{ portfolio.4 }}" class="card-img-top" >
                <div class="card-body">
                    <p class='card-location'> {{portfolio.2}}, {{portfolio.3}}</p>
                  <h5 class="card-title">{{portfolio.1}}</h5>
                </div>
            </div>
            {% endfor %}
        </div>
        <p class='interest'>Interested? Request Here or See More Project From This Professional:</p>
        <div class='req-wrapper'>
        <button class='btn req-project'><a href="{% url 'find_professional:projectrequest' id %}">Request Project</a></button>
        <button class='btn req-project'><a href="{% url 'portfolio:portfolioOutside' name %}">See More</a></button>
    </div>
    </div>

    <div class='info-wrapper'>
        <div class='clipped'>

        </div>
        <div class='info-content'>
            <div class='about'>
                <div class='info-title-box'>
                    <p class='sub-title'>ABOUT 
                        {% if type == 'Company' %} US
                        {% else %} ME
                        {% endif %}
                    </p>
                </div>
                <p class='content'>{{about}}</p>
            </div>
            <div class='info'>
                <div class='contact'>
                    <div class='info-title-box'>
                        <p class='sub-title'>PROFILE DETAIL</p>
                    </div>
                    <div class='d-flex'>
                        <div class='label'> 
                            <p> Email </p>
                            <p> Telephone </p>
                            <p> Website </p>
                            <p> Location </p>
                        </div>
                        <div class='value'>
                            <p> {{ email }} </p>
                            <p> {{ telephone }} </p>
                            <p> {{ website }} </p>
                            <p> {{ city }}, {{ province }} </p>
                        </div>
                    </div>
                </div>
                <div class='certificate mt-4'>
                    <div class='info-title-box'>
                        <p class='sub-title'>CERTIFICATION DETAIL</p>
                    </div>
                    <div class='d-flex'>
                        <div class='label'> 
                            <p> Name </p>
                            <p> Issued By </p>
                            <p> Number </p>
                            <p> Photo </p>
                        </div>
                        <div class='value'>
                            <p> {{ certification_name }} </p>
                            <p> {{ certification_issued_by }} </p>
                            <p> {{ certification_number }} </p>
                            <img src="{{certification_image}}" width=100%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}