{% extends 'home/base.html' %}
{% load static %}

{% block title %}
<title>Sign Up</title>
{% endblock %}

{% block link %} 
<link rel="stylesheet" href="{% static 'profile/css/signup.css' %}">
{% endblock %}

{% block body %}
<section class='d-flex'>
    <div class='signup-wrapper'>
        <h3>Sign Up.</h3>
        <form action="{% url 'user_profile:signup' %}" method="POST">
            {% csrf_token %}
              <div class="form-group name">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name='name' required>
              </div>
            <div class='d-flex'>
              <div class="form-group email">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name='email' required>
              </div>
              <div class="form-group password">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name='password' required>
              </div>
            </div>
            <div class='d-flex'>
              <div class="form-group">
                  <label for="telephone">Telephone Number</label>
                  <input type="number" class="form-control" id="telephone" name='telephone' required>
              </div>
              <div class="form-group">
                <label for="province">Type:</label>
                <select class="form-select" id="type" name="type">
                  <option value="PO">Project Owner</option>
                  <option value="PR">Professional</option>
                </select>
              </div>
            </div>
            <div id='professional-form'>
              <div class="form-group">
                <label for="professional-job">Professional Job:</label>
                <select class="form-select" id="professional-job" name="professional-job">
                  <option value="Architect">Architect</option>
                  <option value="Contractor">Contractor</option>
                </select>
              </div>
              <div class="form-group">
                <label for="professional-type">Professional Type:</label>
                <select class="form-select" id="professional-type" name="professional-type">
                  <option value="Company">Company</option>
                  <option value="Freelance">Freelance</option>
                </select>
              </div>
            </div>
            <div class='d-flex'>
              <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" name='city' required>
              </div>
              <div class="form-group">
                <label for="province">Province:</label>
                  <select class="form-select" id="province" name="province">
                    {% for province in provinces %}
                    <option value="{{province.0}}">{{province.1}}</option>
                    {% endfor %}
                  </select>
              </div>
            </div>

            <button type="submit" class="btn submit">Sign Up</button>
            <span class='mt-4'>Already have an account? <a href="{% url 'user_profile:login' %}">Login Now</a></span>
          </form>
        
    </div>
    <div class='signup-images'>
        <img src="{% static 'profile/images/pexels-mike-392429.jpg' %}" class='signup-image'>
    </div>
</section>
{% endblock %}

{% block script %}
<script>
  var professional_form = document.getElementById("professional-form");

  var types = document.getElementById('type');
  types.addEventListener('change', function() {
    if (this.value === 'PO') {
      professional_form.style.display = 'none';
    }
    if (this.value === 'PR') {
      professional_form.style.display = 'flex';
    }
    
  });

  var job = document.getElementById('professional-job');
  job.addEventListener('change', function() {
    if (this.value === 'Contractor') {
      var op = document.getElementById("professional-type").getElementsByTagName("option");
      for (var i = 0; i < op.length; i++) {
        if (op[i].value === "Freelance") {
          op[i].disabled = true;
        }
        if (op[i].value === "Company") {
          op[i].selected = true;
        }
      }
    }
    if (this.value === 'Architect') {
      var op = document.getElementById("professional-type").getElementsByTagName("option");
      for (var i = 0; i < op.length; i++) {
        if (op[i].value === "Freelance") {
          op[i].disabled = false;
        }
      }
    }
  });
  

</script>
{% endblock %}