.project-page{
    padding-left: 6%;
    padding-right: 6%;
}
.project-title{
    display: flex;
    justify-content :space-between;
    align-items: center;
}
.btn-project{
    background-color: #7C82FF;
    color: white;
    cursor: pointer;
}

.dashboard-item>a:hover{
    color: #7C82FF;;
}

.status {
    height: fit-content;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0.5em;
    color: white;
    align-self: center;
    font-weight: 700;
    font-size: 0.85em;
    width: fit-content;
}

.status-green {
    background-color: #00C981;  
}
.status-red {
    background-color: #c90000;  
}
.status-yellow {
    background-color: #ff7b00;
}

select option[readonly] {
    display: none;
}

.img-input-container{
    width: fit-content;
    height: 7cm;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}
.file-input{
    padding-bottom: 1em;
}
.img-container{
    display: flex;
    justify-content :space-between;
    padding-bottom: 1em;
}

.img-loader{
    width: 100%;
    height: 100%;
}

.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 1rem;
    position: relative;
}

.image-area::before {
    content: 'Uploaded image result';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
}