{% extends 'profile/dashboard.html' %}
{% load static %}

{% block title %}
<title>Professional Detail</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block section %}
<div class="wrapper">
    <div class="container">
        {%for i in row%}
        <div class="detail shadow-lg">
            <div class="d-flex flex-column align-items-center text-center">
                <img src="{{ profpic }}" alt="" width="150" class="rounded-circle">
                <div class="mt-3">
                    <h4>{{i.name}}</h4>
                    <p class="mb-1">{{i.professional_type}}</p>
                </div>
            </div>
        </div>
        <div class="detail shadow-lg" style="margin-top: 16px;">
            <div style="margin-bottom:35px;">
                <h3 style="color: #463f95;">Profile</h3>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Full Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{i.name}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{i.email}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Phone</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{i.telephone_number}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Professional Type</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{i.professional_type}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Status</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{i.status}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Location</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{i.city}}, {{i.province}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Website</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{i.website}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Certification Number</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{i.certification_number}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Certification Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{i.certification_name}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Certification Issued By</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{i.certification_issued_by}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Certificate File</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    <div class="col-md-6">
                        <div class="col-md-6">
                            <a href="{{ certificate }}"><i class="far fa-file-image"
                                    style="color: rgb(102, 104, 102);"><span style="font-family: Poppins, sans-serif;">
                                        certificate_image</span></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Identity Number</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{i.identity_number}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Identity File</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    <div class="col-md-6">
                        <div class="col-md-6">
                            <a href="{{ identity }}"><i class="far fa-file-image"
                                    style="color: rgb(102, 104, 102);"><span style="font-family: Poppins, sans-serif;">
                                        identity_image</span></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">NIB File</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    <div class="col-md-6">
                        <div class="col-md-6">
                            <a href="{{ nib }}"><i class="far fa-file-pdf" style="color: rgb(102, 104, 102);"><span
                                        style="font-family: Poppins, sans-serif;">
                                        nib_file</span></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Person In Charge</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{i.person_in_charge}}
                </div>
            </div>
            <hr>
            <div style="margin-top:35px; text-align: center;">
                <a href="{% url 'verifikasi:updateProfessional' id=i.id status='AVL'%}" class="btn btn-success"
                    style="font-size: 1.2em;">verified</a>
                <a href="{% url 'verifikasi:updateProfessional' id=i.id status='UNV'%}" class="btn btn-danger"
                    style="font-size: 1.2em;">unverified</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}