{% extends 'profile/dashboard.html' %}
{% load static %}

{% block title %}
<title>Project Detail</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block section %}
<div class="wrapper">
    <div class="container">
        {%for i in row%}
        <form action="{% url 'verifikasi:updateProject' id=i.project_id %}" method="POST">
            {% csrf_token %}
            <div class="detail shadow-lg">
                <div style="margin-bottom:35px;">
                    <h3 style="color: #463f95;">Project Detail</h3>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Project Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{i.title}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Project Owner</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{i.name}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Status</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{i.status}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Estimated Time</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{i.estimated_time}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Budget Range</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{i.budget_range}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Additional Data</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {% for f in dokumen %}
                        <div class="col-md-6">
                            <a href="{% static f.url %}"><i class="far fa-file-pdf"
                                    style="color: rgb(102, 104, 102);"><span style="font-family: Poppins, sans-serif;">
                                        Additional_Data.pdf</span></i></a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <hr>
                <div style="margin-bottom:35px; margin-top:35px;">
                    <h3 style="color: #463f95;">Building Preference</h3>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Building Type</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{i.building_type}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Project Type</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{i.type}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Style Preference</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{i.building_style}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Location</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{i.city}}, {{i.province}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Widht Area</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{i.width}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Long Area</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{i.length}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Wants</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{i.wants}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Needs</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{i.needs}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Image</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {% for image in gambar %}
                        <div class="col-md-6">
                            <a href="{% static image.url %}"><i class="far fa-file-image"
                                    style="color: rgb(102, 104, 102);"><span style="font-family: Poppins, sans-serif;">
                                        Image.png</span></i></a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <hr>
            </div>
            <div class="detail shadow-lg" style="margin-top: 16px;">
                <div style="margin-bottom:35px;">
                    <h3 style="color: #463f95;">Professional in Charge</h3>
                </div>
                {% for a in pic %}
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">{{a.professional_type}}</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{a.name}} ({{a.status}})
                    </div>
                </div>
                <hr>
                {% endfor %}
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Invoice</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <div class="col-md-6">
                            -
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Output</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <div class="col-md-6">
                            -
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Reason for Cancellation</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{i.reason}}
                    </div>
                </div>
                <hr>
                <div style="margin-top:35px; text-align: center;">
                    <button type="submit" class="btn btn-success">accept</button>
                </div>
            </div>
        </form>
        {%endfor%}
    </div>
</div>
{% endblock %}