{% extends 'profile/dashboard.html' %}
{% load static %}

{% block title %}
<title>List Professional</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block section %}
<div class="wrapper">
    <div class="container">
        {% for msg in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <h6>{{msg}}</h6>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        <h2 class="container-header">Professional List</h2>
        <div class="list-item" id="todos">
            {%for i in professional%}
            <div class="item shadow-lg">
                <div class="p-2 bd-highlight">
                    <i class="fas fa-user fa-3x"></i>
                </div>
                <div class="p-2 flex-grow-1 bd-highlight">
                    <div class="inner">
                        <h2>{{i.name}}</h2>
                        <p>{{i.professional_type}}</p>
                    </div>
                </div>
                <div class="p-2 bd-highlight">
                    <a class="btn-detail btn" href="{% url 'verifikasi:detailProfessional' id=i.id %}">Detail</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <h2 class="container-header">Verified List</h2>
        <div class="list-item" id="todos">
            {%for j in verified%}
            <div class="item shadow-lg">
                <div class="p-2 bd-highlight">
                    <i class="fas fa-user-check fa-3x"></i>
                </div>
                <div class="p-2 flex-grow-1 bd-highlight">
                    <div class="inner">
                        <h2>{{j.name}}</h2>
                        <p>{{j.professional_type}}</p>
                    </div>
                </div>
                <div class="p-2 bd-highlight">
                    <div class="inner">
                        <p>{{j.ver_date}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}