.project-form-header{
    background-color: #7C82FF;
    color: white;
    padding: 1em;
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.25);
}
.project-form-content{
    padding: 1em;
    background: #FFFFFF;
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.25);
}
.project-form-2{
    display: none;
}
.form-group{
    padding-bottom: 1em;
}

#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 1rem;
    position: relative;
}

.image-area::before {
    content: 'Uploaded image result';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
}
.btn-project-create{
    margin: auto;
    align-items: center;
    align-self: center;
}
.img-loader{
    padding-right: 1em;
    padding-bottom: 1em;
<<<<<<< HEAD
}

#stylePreferences{
    width: 290 px;
    overflow: scroll;
    height: 20 px;
=======
>>>>>>> 58956ccd8b4117b291132434fa0a76aaf63de026
}