.project-card{
    background: #FFFFFF;
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.25);
}
.project-header{
    background-color: #7C82FF;
    color: #FFFFFF;
    padding: 1em
}
.project-content{
    padding: 1.5em;
}
.project-content-2{
    padding-bottom: 0.5em;
}
.project-content-3{
    padding-bottom: 0.5em;
}
.project-content-item{
    padding-bottom: 0.5em;
}
.project-sub-title{
    display: flex;
    justify-content :space-between;
    align-items: center;
}
.project-status{
    background-color: #00058C;
    padding: 0.5em;
}

.btn-project-fp{
    background-color: #7C82FF;
    padding: 0.3em
}
.img-input{
    padding-bottom: 1em;
}
.img-album{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    width: 80%;
}

.img-item{
    padding-right: 1em;
    padding-bottom: 1em;
    flex: 0 0 33.333333%;
    cursor: pointer;
}
.img-fluid{
    width: auto;
    height: 100%;
    overflow:hidden;
}