.list-nav{
    margin: 1.5em 0 0;
    display: flex;
    justify-content :space-between;
}
.status-nav {
    margin: 1.5em 0 0;
    display: flex;
    justify-content :space-between;
    padding: 1em;
    
}
.status-item {
    margin: 0.5em;
    background-color: #7C82FF;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
    cursor: pointer;
    
}
.status-item:hover{
    color: #121445;
}
.status-active{
    background-color: #00058C;
    transition: all .75s ease;
}
.create-nav{
    margin: 1.5em 0 0;
    display: flex;
    justify-content :right;
}
.create-item{
    border: solid white 1px;
    background-color: #121445;
    margin: auto;
    padding: 1em;
}
.project-btn{
    color: white;
}
a:hover{
    color: white;
}


.project-item{
    margin: 1.5em 0 0;
    padding: 1em;
    background: #FFFFFF;
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.25);
}

.project-content{
    margin: 1.5em 0 0;
    display: flex;
    justify-content :space-between;
}
.project-content-1 {
    display: flex;
    justify-content :space-between;
}
.project-content-1-item {
    margin: 0.5em;
    padding-right: 1em;
}
.project-content-2{
    display: flex;
    justify-content :right;
}
.project-content-2-item{
    background-color: #7C82FF;
    margin: 0.5em;
    padding-left:1em;
    padding-right:1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
#list-opened{
    display: block;
    transition: all .75s ease;
}
#list-ongoing{
    display: none;
    transition: all .75s ease;
}
#list-finished{
    display: none;
    transition: all .75s ease;
}

#list-accepted{
    display: none;
    transition: all .75s ease;
}

#list-requested{
    display: block;
    transition: all .75s ease;
}