.project-page{
    padding-left: 6%;
    padding-right: 6%;
}
.project-title{
    display: flex;
    justify-content :space-between;
    align-items: center;
}
.btn-project{
    background-color: #7C82FF;
    color: white;
    cursor: pointer;
}

.dashboard-item>a:hover{
    color: #7C82FF;;
}