body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper .container {
  border-radius: 8px;
  margin: 16px;
  padding: 16px;
  flex-grow: 1;
  height: fit-content;
}

.item {
  border-radius: 16px;
  margin-top: 16px;
  padding: 12px 24px 12px 24px;
  background: white;
  display: flex;
  align-items: center;
}

.item > .inner h2 {
  margin-bottom: unset;
  text-align: center;
}

.item > .inner p {
  margin-top: 5px;
  text-align: center;
}

.detail {
  border-radius: 16px;
  padding: 40px 20px 40px 20px;
  background: white;
  align-items: center;
}