section {
    padding: 2em 0;
}
h4 {
    margin-left: 0.5em;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
}

a:hover {
    color: #7C82FF;
}

.dashboard-nav {
    margin:auto;
    padding-left: 1em;
    display: flex;
    justify-content: center;
    
}

.dashboard-item {
    border-bottom: 1px solid white;
    margin: 0 1.5em;
    padding-bottom: 1em;
}

.dashboard-item:hover, .active-item{
    border-bottom: 1px solid #7C82FF;
}

.active-item a{
    color: #7C82FF;
}