form {
    padding: 2em;
    background-color: white;
}

/* HEADER */
.header {
    background-color: #EFF5FF;
    height: 250px;
    border: 1px solid #7C82FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-info {
    text-align: center;
    width: 93ch;
    color: #7C82FF;
    font-size: 0.7em;
    margin: 0 auto;
}
#id_header {
    text-align: center;
    margin: 0 auto;
}

/* GENERAL */
label {
    display: block;
    margin: 1em 0 0.5em;
    font-weight: 600;
}

input, textarea, select{
    width: 25vw;
    border: 1px solid #CBCBCB;
    border-radius: 5px;
    outline: none;
    padding: 0.2em;
    margin-right: 2em;
}

input:focus, textarea:focus, select:focus  {
    border: 1px solid #7C82FF;
    border-radius: 5px;
}

.info-title-box {
    border-bottom: 1px solid #7C82FF;
    margin-bottom: 1em;
}

.sub-title {
    font-size: 1.2em;
    font-weight: 700;
    color: #7C82FF;
}

/* PROFILE PICTURE */
.profile-picture {
    width: 15%;
    margin-bottom: 0.5em;
}

#id_profile_picture {
    margin-bottom: 1em;
}

/* PROFILE DETAIL & ABOUT ME */
.about_me {
    width: 30%;
    margin-right: 2em;
}

.profile_detail {
    width: 70%;
}

/* Save button */
.btn {
    background-color: #7C82FF;
    margin-top: 1em;
}

.btn a{
    color:white;
}

.btn:hover {
    background-color: #121445;
}