section {
    background-color: white;
    height: 90vh;
}

.login-wrapper, .login-image {
    width: 50%;
}

.login-wrapper {
    margin-left: 3em;
    margin-top: 20vh;
}

.login-wrapper p {
    font-size: 0.9em;
}

.form-group{
    margin: 1em 0;
    width: 90%;
}

.submit {
    background-color: #7C82FF;
    color: white;
}

.submit:hover {
    background-color: #121445;
    color: white;
}

.login-image {
    background-image: url("{% static 'profile/images/pexels-thgusstavo-santana-2102587.jpg' %}");
    height: 90vh;
}