.content-wrapper {
    background-color: transparent;
}
p{
    color: rgb(107, 21, 189);
}
.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}
.btn {
    font-family: 'Poppins', sans-serif; 
    background-color: #7C82FF;
    color: white;
    font-size: 1em;
}

.btn-detail {
    font-weight: 400;
}
.btn:hover{
    background-color: #121445;
    color: white;
}

.fa-trash{
    color: #121445;
}

.fa-trash:hover{
    color: red;
}
.fa-edit{
    color: #121445;
}
.fa-edit:hover{
    color: #7C82FF;
}

.card-footer {
  background: transparent;
  border-top: 0px;
}

.title-portfolio {
    font-size: 1.5em;
    font-weight: 500;
    margin-left: auto;
}
.card-title {
    font-weight: 400;
}